<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>My Website -About</title>
</head>
<body>
    <h1>Chase Busby-Earle</h1>
    <p>My name is CHase Busby-Earle, I am a third year computer science major who is about to fail all his courses due to a crippling addiction to drugs which has seerly affected my mental health, thus preventing me from completing my assignments.</p>
</body>
</html>